---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
      • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card"
          itemprop="name">{{ page.author | escape }}</span></span>
      {%- endif -%}

      <br />
      [{% for tag in page.tags %}
      <a href="/tags/{{ tag }}"><code class="highligher-rouge"><nobr>{{ tag }}</nobr></code></a>&nbsp;
      {% endfor %}]
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% if page.related_posts %}
  <div class="post-related">
    <hr />
    <h1>🔗 Related blog posts</h1>
    <ul class="related-post-list">
      {% for related_post in page.related_posts %}
        {% assign related_post_url = "/blog/" | append: related_post.slug %}
        {% assign matches = 0 %}
        {% for post in site.posts %}
          {% if post.url == related_post_url %}
            <li>
              <h4 class="post-header">
                <a class="post-link" href="{{ post.url | relative_url }}">
                  {{ post.title | escape }}
                </a>
              </h4>
              {% assign matches = matches | plus: 1 %}
            </li>
          {% endif %}
        {% endfor %}
        {% unless matches == 1 %}
        {{ 1 | divided_by: 0 }}
        {% endunless %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>


